.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  font-family: 'roboto', sans-serif;
  color: purple;
}

.header {
  padding: 2em;


  &__title {

    font-size: 2em;
    font-weight: 700;

  }
}

.main {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;

}




.list {
  display: flex;
  flex-direction: column;
  gap: 1em;

}

.completed {
  text-decoration: line-through;
}



.button {
  max-width: 120px;
  border: 2px ridge purple;
  border-radius: 0.5em;
  padding: 3px;
  background-color: plum;
  color: purple;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
  transition-delay: 100ms;

  &:hover {
    background-color: purple;
    color: white;
    transform: scale(1.2);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0006;
  display: flex;
  align-items: center;
  justify-content: center;

  .form {
    width: 90%;
    border-radius: 1rem;
    background-color: white;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    &__btnClose {
      align-self: flex-start;
      width: 2.25rem;
      height: 2.25rem;
      border: solid purple 1px;
      border-radius: 50%;
      background-color: transparent;
      background-image: url('../../images/icon-close.png');
      background-repeat: no-repeat;
      background-position: center center;
      transition: background 0.3s;
      color: transparent;
      cursor: pointer;

      &:hover {
        background-color: plum;
      }
    }

    &__title {

      font-size: 1.2em;
    }

    &__input-textarea {
      width: 100%;
      padding: 1em;
      height: 6rem;
      border: none;
      font-size: 1.25em;
      font-weight: normal;
      resize: none;

    }

    .button {
      align-self: flex-end;
    }
  }

}


.hidden {
  display: none;
}