@import '../core/reset.scss';

.button {

  border: 2px ridge purple;
  border-radius: 0.5em;
  padding: 3px;
  background-color: plum;
  color: purple;
  font-weight: bold;
  padding: 0.5rem;
  margin: 1rem;
  cursor: pointer;
  transition-delay: 100ms;

  &:hover {
    background-color: purple;
    color: white;
    transform: scale(1.2);
  }
}